@charset "UTF-8";

:root{
    --cor1: #C6CCEB;
    --cor2: #989FC0;
    --cor3: #5E6796;
    --cor4: #313B6B;
    --cor5: #131B41;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--cor2);
    padding: 0px;
}
header{
    background-color: white;
    padding: 15px 15px 80px 15px;
    border-radius: 10px;
    min-width: 320px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}
header h1{
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 5px 0px 10px 0px;
}
header p{
    text-indent: 30px;
    text-align: justify;
}
header img{
    display: block;
    float: left;
    padding-right: 10px;
}
main{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    min-width: 320px;
    max-width: 600px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}
main h2{
    padding: 0px;
    margin: 0px;
}
.links p{
    display: inline-block;
    background-color: var(--cor3);
    padding: 3px 3px 0px 3px;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
    width: 30px;
}
.links p:hover{
    background-color: var(--cor4);
}
footer{
    background-color: var(--cor5);
    text-align: center;
    color: white;
}
footer p{
    padding: 3px 0px;
}